<h1>Zarejestruj się</h1>
<form class="form" name="form" ng-submit="register(form)" novalidate>
    <div
        class="pg-form-row pg-form-error"
        ng-show="(!form.$valid && submitted) || error"
    >
        <div ng-show="!form.$valid && submitted">
            <h3>Sprawdź wprowadzone dane</h3>
            <ul>
                <li ng-show="form.username.$error.required">Wprowadź identyfikator użytkownika</li>
                <li ng-show="form.email.$error.required">Wprowadź adres email</li>
                <li ng-show="form.email.$error.email">Wprowadź prawidłowy adres email</li>
                <li ng-show="form.password.$error.required">Wprowadź hasło</li>
            </ul>
        </div>
        
        <div ng-show="error">
            <h3>{{error.message}}</h3>
            <ul ng-show="error.errors.length > 0">
                <li ng-repeat="err in error.errors">{{err.message}}</li>
            </ul>
        </div>
    </div>
    <div class="pg-form-row" ng-show="form.username.$error.required && form.password.$error.required && submitted">
        <p>Wprowadź identyfikator użytkownika, email i hasło.</p>
        <p class="help-block">{{errors.other}}</p>
    </div>
    
    <div class="pg-form-row">
        <label for="username">Identyfikator użytkownika *</label>

        <input
            type="text"
            name="username"
            class="form-control"
            ng-model="user.username"
            required>
    </div>

    <div class="pg-form-row">
        <label>Email *</label>

        <input
            type="email"
            name="email"
            class="form-control"
            ng-model="user.email"
            required>
    </div>
    
    <div class="pg-form-row">
        <label>Hasło *</label>

        <input
            type="password"
            name="password"
            class="form-control"
            ng-model="user.password"
            required>
    </div>

    <div class="pg-form-row pg-form-actions">
        <button type="submit">
            Wyślij
        </button>
        <a href="/login">
            Zaloguj się
        </a>
    </div>
</form>

<p class="pg-read-me">
    Otwarta część aplikacji - widok zakładania konta. Załóż użytkownika.
</p>